@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif&family=Inter&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-instrument: "Instrument Serif", sans-serif;
}

li::marker {
  content: "— ";
  font-size: 1.2em;
}
