---
import Base from "../../components/Base.astro";
import FormattedDate from "../../components/FormattedDate.astro";
---

<Base
  title="Uses"
  description="Things that I personally use to improve my life"
>
  <h1>uses</h1>
  <p>In progress...</p>

  <div class="mt-8">
    <p class="font-mono text-gray-500">
      Last updated:
      <FormattedDate date={new Date("18 Mar 2024")} />
    </p>
  </div>
</Base>
