---
import Base from "../components/Base.astro";
---

<Base
  title="Homepage"
  description="Hisam — is a software developer, voracious reader, active (trying his best) writer"
>
  <div class="space-y-3">
    <p class="italic">Halo!</p>
    <p>Hisam here 👋.</p>
    <p>
      I create quite ton of <a href="/crafts">things</a>, and this little
      site&apos;s <a href="/journals">journal</a> writer.
    </p>
    <p>
      Read: what am I doing <a href="/now">now</a>, my random <a href="/ideas"
        >ideas</a
      >, or what I currently <a href="/uses">use</a>.
    </p>
    <!--<p>-->
    <!--  Building <a href="https://cakeauth.com">CakeAuth</a>.-->
    <!--</p>-->
  </div>
</Base>
