---
import Base from "../components/Base.astro";
---

<Base
  title="Homepage"
  description="Hisam — is a software developer, voracious reader, active (trying his best) writer"
>
  <div class="space-y-3">
    <p class="italic">Halo!</p>
    <p>I am Hisam, a software developer.</p>
    <p>
      Creator of <a href="/crafts">a lot of things</a>, and this house&apos;s <a
        href="/journals">journal</a
      > writer.
    </p>
    <p>
      Read: what am I doing <a href="/now">now</a>, my random <a href="/ideas"
        >ideas</a
      >, or what I currently <a href="/uses">use</a>.
    </p>
  </div>
</Base>
