---
import Base from "../components/Base.astro";
---

<Base
  title="Homepage"
  description="Hisam — is a software developer, voracious reader, active (trying his best) writer"
>
  <div class="space-y-3">
    <p>Halo.</p>
    <p>I am Hisam, a software developer.</p>
    <p>
      Creator of <a href="/">a lot of things</a>, and this house&apos;s <a
        href="/journals">journal</a
      > writer.
    </p>
    <p>
      Read: what am I doing <a href="/">now</a>, my random <a href="/">ideas</a
      >, or what I currently <a href="/">use</a>.
    </p>
  </div>
  <!-- <ul> -->
  <!--   <li> -->
  <!--     Check out the included blog posts in <code>src/pages/journals/</code> -->
  <!--   </li> -->
  <!--   <li> -->
  <!--     Customize the blog post page layout in <code -->
  <!--       >src/layouts/BlogPost.astro</code -->
  <!--     > -->
  <!--   </li> -->
  <!-- </ul> -->
</Base>
