---
import "@fontsource/geist-sans";
import "@fontsource/geist-mono";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body
    class="mx-auto flex h-screen max-w-3xl flex-col justify-between px-4 py-6 sm:px-6 md:px-8"
  >
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
