---
import "@fontsource/geist-sans";
import "@fontsource/geist-mono";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description: string;
  image?: string;
}

const { title, description, image = "/blog-placeholder-1.jpg" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body
    class="max-w-3xl mx-auto px-4 py-6 sm:px-6 md:px-8 flex flex-col justify-between h-screen"
  >
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
