---
const today = new Date();
---

<footer class="space-y-4 mb-4">
  <div class="space-y-1">
    <p class="font-mono text-gray-500">connect</p>
    <p>
      <a href="mailto:me@hisamafahri.com">Email</a> (<a
        href="https://keys.openpgp.org/search?q=me%40hisamafahri.com"
        target="_blank">PGP</a
      >), <a href="https://twitter.com/hisamafahri" target="_blank">Twitter</a>, <a
        href="https://github.com/hisamafahri"
        target="_blank">GitHub</a
      >, <a href="https://linkedin.com/in/hisamafahri" target="_blank"
        >LinkedIn</a
      >, or <a href="https://cal.com/hisam" target="_blank">chat with me</a>.
    </p>
  </div>
  <div class="flex items-center justify-between text-gray-300">
    <p>Hisam</p>
    <p class="text-gray-500 text-sm">&copy; {today.getFullYear()}</p>
  </div>
</footer>
