---
const today = new Date();
---

<footer class="mb-4 space-y-4">
  <div>
    <h3>connect</h3>
    <p class="text-sm">
      <a href="mailto:me@hisamafahri.com">Email</a> (<a
        href="/pgp.txt"
        target="_blank">PGP</a
      >), <a href="https://twitter.com/hisamafahri" target="_blank">Twitter</a>, <a
        href="https://github.com/hisamafahri"
        target="_blank">GitHub</a
      >, <a href="https://linkedin.com/in/hisamafahri" target="_blank"
        >LinkedIn</a
      >, or <a href="https://cal.com/hisam" target="_blank">chat with me</a>.
    </p>
  </div>
  <div class="flex items-center justify-between text-gray-300">
    <a href="/" class="text-gray-300 hover:text-gray-300">Hisam Fahri</a>
    <p class="text-sm text-gray-500">&copy; {today.getFullYear()}</p>
  </div>
</footer>
