<header>
  <nav class="flex items-center justify-between py-4">
    <a
      class="text-gray-50 opacity-75 hover:text-gray-50 hover:opacity-100"
      href="/">~/</a
    >
    <div class="flex items-center justify-evenly space-x-4">
      <a
        class="text-gray-50 opacity-75 hover:text-gray-50 hover:opacity-100"
        href="/now">now</a
      >
      <a
        class="text-gray-50 opacity-75 hover:text-gray-50 hover:opacity-100"
        href="/journals">journal</a
      >
    </div>
  </nav>
</header>
