---
import type { CollectionEntry } from "astro:content";
import Base from "../components/Base.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"journals">["data"];

const { title, description, publishDate } = Astro.props;
---

<Base title={title} description={description}>
  <article class="mb-24 mt-16 h-full">
    <slot />
    <div class="mt-8">
      <p class="font-mono text-gray-500">
        Updated on:
        <FormattedDate date={publishDate} />
      </p>
    </div>
  </article>
</Base>
