---
import ArrowEnter from "../icons/arrow-enter.astro";
---

<a
  class="flex items-center gap-1 underline decoration-gray-500 decoration-dotted underline-offset-4 hover:decoration-solid"
  href="/"
  {...Astro.props}
>
  <ArrowEnter class="text-gray-500" />
  Home
</a>
